<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gianlu.timeless">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Save charts -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ThisApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Loading activity -->
        <activity
            android:name=".LoadingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Drawer" />

        <!-- Preferences activity -->
        <activity
            android:name=".PreferencesActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <!-- Grant permission activity -->
        <activity
            android:name=".GrantActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="grantActivity"
                    android:pathPattern=".*"
                    android:scheme="timeless"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity>

        <!-- Daily stats activity -->
        <activity
            android:name=".Activities.DailyStatsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Commits activity -->
        <activity
            android:name=".Activities.CommitsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Projects activity -->
        <activity
            android:name=".Activities.ProjectsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Leaders activity -->
        <activity
            android:name=".Activities.LeadersActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Logs activity -->
        <activity
            android:name="com.gianlu.commonutils.LogsActivity"
            android:parentActivityName=".PreferencesActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>