<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gianlu.timeless">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ThisApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Loading activity -->
        <activity
            android:name=".LoadingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:configChanges="uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Drawer" />

        <!-- Preferences activity -->
        <activity
            android:name=".PreferenceActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NightFullDark" />

        <!-- Grant permission activity -->
        <activity
            android:name=".GrantActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="grantActivity"
                    android:pathPattern=".*"
                    android:scheme="timeless"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity>

        <!-- Daily stats activity -->
        <activity
            android:name=".activities.DailyStatsActivity"
            android:configChanges="uiMode"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Custom range stats activity -->
        <activity
            android:name=".activities.CustomRangeStatsActivity"
            android:configChanges="uiMode"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Commits activity -->
        <activity
            android:name=".activities.CommitsActivity"
            android:configChanges="uiMode"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Projects activity -->
        <activity
            android:name=".activities.ProjectsActivity"
            android:configChanges="uiMode"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Leaders activity -->
        <activity
            android:name=".activities.LeadersActivity"
            android:configChanges="uiMode"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Private leaderboards activity -->
        <activity
            android:name=".activities.PrivateLeaderboardsActivity"
            android:configChanges="uiMode"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Charts images provider -->
        <provider
            android:name="com.gianlu.timeless.SaveChartProvider"
            android:authorities="com.gianlu.timeless.charts"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/chart_images_paths" />
        </provider>

        <!-- Logs provider -->
        <provider
            android:name="com.gianlu.commonutils.logs.LogsFileProvider"
            android:authorities="com.gianlu.timeless.logs"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/logs_paths" />
        </provider>
    </application>
</manifest>